body {
    background: linear-gradient(90deg, green, yellow)
}
.header_img {
    height: 300px;
    width: 300px;
    border: 4px solid gray;
    margin: auto;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.container h1 {
    color: white;
    font-size: 80px;
}

.community {
    font-size: 20px;
    padding: 6px;
    2px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    text-align: left;
    cursor: pointer;
}

.community_text i {
    float: right;
}

.post {
    width: 100%;
    background-color: white;
}

.post p {
    font-size: 20px;
}

.post h4 {
    text-align: right;
    font-weight: bold;
}
.about p{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 30px
    text-align: center;
    font-family: cursive;
}
.about{
    text-align: center;
    background-color: white; 
}
.about hr{
    color: black;
    width: 300px;
    height: 10px;
}